<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/9_%D0%B7%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_%D1%82%D0%B5%D0%BE%D1%80%D0%B8%D1%8F%20%D0%B2%D0%B5%D1%80%D0%BE%D1%8F%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Определение вероятности. События
#Требуется сгенерировать необходимые выборки и произвести по ним расчеты
#Задача 1
#Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами
import random
orel1 = 0
resh1 = 0
orel2 = 0
resh2 = 0
i = 0
while i<100000:
    i += 1
    coin = random.randint(1,4)
    if coin == 1:
        orel1 += 1
    if coin == 2:
        resh1 += 1
    if coin == 3:
        orel2 += 1
    if coin == 4:
        resh2 += 1   
p1 = float (resh1+orel2)/100000
p2 = float (orel1+resh2)/100000
p3 = float (p1+p2)/2
print (p3)

0.5

In [ ]:
#Вариант преподавателя
import pandas as pd
import numpy as np
N = 900000
c1 = np.random.randint(0,2,size=N)
c2 = np.random.randint(0,2,size=N)
cases = pd.DataFrame(zip(c1,c2), columns=['Coin1','Coin2'])
p = cases[cases['Coin1'] !=cases['Coin2']].shape[0]/N
print (p)

0.5007377777777777

In [ ]:
#Задача 2 Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:
#A = {не выпало ни одного герба}
#B = {выпало четное число гербов}
#C = {на третьей монете выпал герб}
import pandas as pd
import numpy as np
N = 900000
c1 = np.random.randint(0,2,size=N)
c2 = np.random.randint(0,2,size=N)
c3 = np.random.randint(0,2,size=N)
cases_ = pd.DataFrame(zip(c1,c2,c3), columns=['Coin1','Coin2','Coin3'])
print (cases_)

        Coin1  Coin2  Coin3
0           1      1      0
1           0      1      1
2           0      1      0
3           1      0      1
4           0      1      1
...       ...    ...    ...
899995      0      0      0
899996      0      1      1
899997      0      0      1
899998      1      0      0
899999      1      0      0

[900000 rows x 3 columns]

In [ ]:
#Описать множество всех элементарных событий
row_list=[]
for i in range((cases_.shape[0])):
  row_list.append(list(cases_.iloc[i, :]))

In [ ]:
#A = {не выпало ни одного герба}
p_ = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==1) & (cases_['Coin3']==1)]
p__ = len(p_)/N
print (p__)

0.12507666666666667

In [ ]:
#B = {выпало четное число гербов}
p2 = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==1) & (cases_['Coin3']==0)]
p3 = cases_[(cases_['Coin1']==0) & (cases_['Coin2']==1) & (cases_['Coin3']==1)]
p4 = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==0) & (cases_['Coin3']==1)]
p_total = len(p2)+len(p3)+len(p4)
pp = p_total/N 
print (pp)

0.3753444444444444

In [ ]:
#C = {на третьей монете выпал герб}
p5 = cases_[cases_['Coin3']==0]
ppp = len(p5)/N 
print(ppp)

0.49971777777777776

In [ ]:
#Вероятность суммы событий
#Задача 5
#Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}
import random as random_number

N = 100000
M = 0
for i in range(N):
    six = 0
    r1 = random_number.randint(1, 6)
    if r1 == 6:
        six += 1
    r2 = random_number.randint(1, 6)
    if r2 == 6:
        six += 1
    if six >= 1:
        M += 1

p = float(M)/N
print (p)

0.30619

In [2]:
#Случайные величины
#Задача 7
#В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, 
#равной чистому выигрышу участника лотереи, который вытаскивает билет первым.
N = 10 
N1 = 1 
amount = 10
price = 1
v = [0, 9]

proba_0 =  .1
proba_1 = 1-proba_0
probabilities = [proba_1, proba_0]

In [5]:
import numpy as np
tickets = np.random.choice(v, N, p=probabilities)                      
tickets

array([0, 0, 9, 0, 0, 9, 0, 0, 0, 0])

In [6]:
total_tickets = list(map(lambda x: 
                np.random.choice(v, 1, p= probabilities)[0]
                if x == tickets[0] 
                else np.random.choice(v, 1, p=probabilities)[0],
                tickets))
total_tickets

[9, 0, 0, 9, 0, 0, 9, 0, 0, 0]

In [8]:
import pandas as pd
df = pd.DataFrame(columns = ['v', 'probabilities'])
df['v'] = v
df['probabilities'] = probabilities
df

   v  probabilities
0  0            0.9
1  9            0.1

In [3]:
#Условные вероятности
#Задача 9
#Из колоды (36 карт) вынимают последовательно без возвращения две карты. 
#Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.
import random

suits = ["spade", "club", "heart", "diamond"]
faces = ["6", "7", "8", "9", "10", "J", "Q", "K", "A"]

cards = []
for suit in suits:
    for face in faces:
        cards.append((suit, face))
        cards_new = random.shuffle(cards)

In [4]:
print(cards)

[('spade', 'Q'), ('spade', 'A'), ('spade', '9'), ('club', '7'), ('diamond', 'J'), ('club', '10'), ('heart', 'Q'), ('heart', '9'), ('diamond', '6'), ('club', '8'), ('club', '6'), ('club', 'K'), ('club', 'J'), ('diamond', '8'), ('diamond', 'K'), ('spade', '8'), ('diamond', '9'), ('diamond', '10'), ('heart', 'A'), ('heart', '7'), ('spade', '7'), ('diamond', 'Q'), ('heart', '8'), ('club', '9'), ('spade', '10'), ('diamond', '7'), ('diamond', 'A'), ('spade', 'K'), ('heart', '6'), ('club', 'Q'), ('heart', 'K'), ('heart', 'J'), ('heart', '10'), ('spade', '6'), ('spade', 'J'), ('club', 'A')]

In [5]:
#Вариант1 - вынимают последовательно без возвращения две карты
import random as random_number
def draw_cards(cards):
    index = random_number.randint(0, len(cards)-1)
    (suit, face) = cards.pop(index)
    return (suit, face), cards

cardss = []
for i in range(2):  # n - число карт
    (suit, face), cards = draw_cards(cards)
    cards.append(suit)
print ('Got the cards', cards)

Got the cards [('spade', 'Q'), ('spade', 'A'), ('spade', '9'), ('club', '7'), ('diamond', 'J'), ('club', '10'), ('heart', 'Q'), ('heart', '9'), ('club', '8'), ('club', '6'), ('club', 'K'), ('club', 'J'), ('diamond', '8'), ('diamond', 'K'), ('spade', '8'), ('diamond', '9'), ('diamond', '10'), ('heart', 'A'), ('heart', '7'), ('spade', '7'), ('diamond', 'Q'), ('heart', '8'), ('club', '9'), ('spade', '10'), ('diamond', '7'), ('diamond', 'A'), ('spade', 'K'), ('heart', '6'), ('club', 'Q'), ('heart', 'K'), ('heart', 'J'), ('spade', '6'), ('spade', 'J'), ('club', 'A'), 'diamond', 'heart']

In [7]:
#Вариант2 - вынимают последовательно без возвращения две карты
import random
sd1 = random.sample(cards,2)
sd2 = random.sample(cards,2)
sd3 = random.sample(cards,2)
sd4 = random.sample(cards,2)
sd5 = random.sample(cards,2)
sd6 = random.sample(cards,2)
sd7 = random.sample(cards,2)
sd8 = random.sample(cards,2)
sd9 = random.sample(cards,2)
sd10 = random.sample(cards,2)
sd11 = random.sample(cards,2)
sd12 = random.sample(cards,2)
sd13 = random.sample(cards,2)
sd14 = random.sample(cards,2)
sd15 = random.sample(cards,2)
sd16 = random.sample(cards,2)
sd17 = random.sample(cards,2)
sd18 = random.sample(cards,2)
print(sd1,sd2,sd3,sd4,sd5,sd6,sd7,sd8,sd9,sd10,sd11,sd12,sd13,sd14,sd15,sd16,sd17,sd18)

[('spade', 'J'), ('spade', '9')] [('spade', '8'), ('heart', '8')] [('spade', 'Q'), ('spade', '9')] [('club', '9'), ('club', 'K')] [('diamond', '10'), ('spade', '7')] [('heart', '6'), ('diamond', 'J')] [('diamond', '9'), ('spade', '9')] [('spade', '6'), ('heart', '9')] [('club', '7'), 'diamond'] [('club', '7'), ('club', 'J')] [('diamond', '8'), ('spade', 'K')] [('heart', 'A'), ('diamond', '8')] [('heart', 'K'), ('diamond', '10')] [('diamond', '10'), ('club', 'Q')] [('heart', 'Q'), ('club', '8')] [('diamond', 'K'), ('spade', 'Q')] [('diamond', 'A'), ('club', 'A')] [('diamond', '9'), ('diamond', 'A')]

In [20]:
import pandas as pd
sd_total = pd.DataFrame(zip(sd1,sd2,sd3,sd4,sd5,sd6,sd7,sd8,sd9,sd10,sd11,sd12,sd13,sd14,sd15,sd16,sd17,sd18), columns=['sd1','sd2','sd3','sd4','sd5','sd6','sd7','sd8','sd9','sd10','sd11','sd12','sd13','sd14','sd15','sd16','sd17','sd18'])
print (sd_total)

          sd1         sd2         sd3  ...          sd16          sd17          sd18
0  (spade, J)  (spade, 8)  (spade, Q)  ...  (diamond, K)  (diamond, A)  (diamond, 9)
1  (spade, 9)  (heart, 8)  (spade, 9)  ...    (spade, Q)     (club, A)  (diamond, A)

[2 rows x 18 columns]

In [19]:
formatted_df = pd.melt(sd_total, var_name="sd")
print(formatted_df)

      sd          value
0    sd1     (spade, J)
1    sd1     (spade, 9)
2    sd2     (spade, 8)
3    sd2     (heart, 8)
4    sd3     (spade, Q)
5    sd3     (spade, 9)
6    sd4      (club, 9)
7    sd4      (club, K)
8    sd5  (diamond, 10)
9    sd5     (spade, 7)
10   sd6     (heart, 6)
11   sd6   (diamond, J)
12   sd7   (diamond, 9)
13   sd7     (spade, 9)
14   sd8     (spade, 6)
15   sd8     (heart, 9)
16   sd9      (club, 7)
17   sd9        diamond
18  sd10      (club, 7)
19  sd10      (club, J)
20  sd11   (diamond, 8)
21  sd11     (spade, K)
22  sd12     (heart, A)
23  sd12   (diamond, 8)
24  sd13     (heart, K)
25  sd13  (diamond, 10)
26  sd14  (diamond, 10)
27  sd14      (club, Q)
28  sd15     (heart, Q)
29  sd15      (club, 8)
30  sd16   (diamond, K)
31  sd16     (spade, Q)
32  sd17   (diamond, A)
33  sd17      (club, A)
34  sd18   (diamond, 9)
35  sd18   (diamond, A)

In [14]:
N = 1000
M = 0
for e in range(N):
    cards = new_cards()
    cardss = []
    for i in range(1):
        (suit, face), cards = draw_cards(cards)
        cardss.append((suit, face))
    if cardss.sd1('('club', '6')') = 1:
        M += 1 
print 'Probability:', float(M)/N

SyntaxError: ignored

In [23]:
N = 36
p2 = formatted_df[(formatted_df['value']==(diamond, 6)) | (sd_total['value']==(heart, 6)) | (sd_total['value']==(spade, 6)) | (sd_total['value']==(club, 6))]
pp = p2/N 
print (pp)

NameError: ignored