<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/Chalkina_task1%20%20(lesson7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import sqlite3
conn_sqlite = sqlite3.connect('TestDB_new.db')  

import psycopg2
import pandas as pd

#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student26'
DB_USER_PASSWORD = 'student26_password'
DB_NAME = 'sql_ex_third_stream'

conn_psql = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [13]:
import sys
!{sys.executable} -m pip install sqlitedict

Requirement already satisfied: sqlitedict in /usr/local/lib/python3.7/dist-packages (1.7.0)

In [24]:
import sqlitedict
import pandas as pd

In [44]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [45]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [30]:
import sqlite3

In [50]:
request = "CREATE TABLE table1(id int, telephon int, nomer int)"
c.execute(request)
tables = c.fetchall()

In [62]:
c.execute("SELECT count(*) from table1")
results = c.fetchall()

In [68]:
# Создаем объект типа cursor для доступа к данным
cursor = conn_sqlite.cursor()
# Создание простейшей таблицы, все поля (столбцы) которой имеют тип text
cursor.execute("CREATE TABLE table11 (id int, number int, telephone int)")
# Подтверждаем изменения (обязательно)
conn_sqlite.commit()
# Закрываем курсор
cursor.close()
# Закрываем соединение (рекомендуется)
conn_sqlite.close()

In [83]:
conn_sqlite = sqlite3.connect(request)
c = conn_sqlite.cursor()

sql  = "INSERT INTO table1 VALUES (?, ?, ?, ?, ?)"
val1 = ("23", "77", "88", "67", "43")
val2 = ("3", "5", "8", "4", "9")
c.execute(sql, val1)
c.execute(sql, val2)
conn.commit()
c.close()
conn.close()

OperationalError: ignored