<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/demo_Chalkina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn_sqlite = sqlite3.connect('TestDB_new.db')  



import psycopg2
import pandas as pd

#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student26'
DB_USER_PASSWORD = 'student26_password'
DB_NAME = 'sql_ex_third_stream'

conn_psql = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)


# df = pd.read_sql('select * from laptop', conn_psql)

# df.to_sql(name='laptop', con=conn_sqlite)

# pd.read_sql('select * from laptop', conn_sqlite)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
import sys
!{sys.executable} -m pip install sqlitedict

Collecting sqlitedict
  Downloading sqlitedict-1.7.0.tar.gz (28 kB)
Building wheels for collected packages: sqlitedict
  Building wheel for sqlitedict (setup.py) ... done
  Created wheel for sqlitedict: filename=sqlitedict-1.7.0-py3-none-any.whl size=14392 sha256=853fdbfc5a2af6a885de73b0847578a827afebca20843472a33563709b75944d
  Stored in directory: /root/.cache/pip/wheels/af/94/06/18c0e83e9e227da8f3582810b51f319bbfd181e508676a56c8
Successfully built sqlitedict
Installing collected packages: sqlitedict
Successfully installed sqlitedict-1.7.0

In [3]:
import sqlitedict
import pandas as pd

In [4]:
from sqlitedict import SqliteDict
mydict = SqliteDict('task1_7.sqlite', autocommit=True)

In [26]:
print task1_7

SyntaxError: ignored

In [19]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [ ]:
#установка библиотек
# !pip install psycopg2
# !pip install plotly

In [23]:
DECLARE @X INT = 1
WHILE @X <=1000
BEGIN
    INSERT INTO dbo.YourTable (ID, Age)
    VALUES(@X,LEFT(RAND()*100,2) 
    SET @X+=1
END;

    enter code here
DECLARE @X INT = 1
WHILE @X <=1000
BEGIN
    INSERT INTO dbo.YourTable (ID, Age)
    VALUES(@X,LEFT(RAND()*100,2) 
    SET @X+=1
END;

SyntaxError: ignored

In [13]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student26'
DB_USER_PASSWORD = 'student26_password'
DB_NAME = 'sql_ex_for_student26'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [17]:
request = """
select * 
from table1
"""
df = pd.read_sql_query(request, conn)
fig = px.bar(df, x=1, y=2)
fig.show()

DatabaseError: ignored