In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('housing.csv')

In [3]:
from sklearn.linear_model import LinearRegression

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('ZN', axis=1),
                                                    df['ZN'],
                                                       test_size=0.2, random_state=123)

In [7]:
X_train

,CRIM,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
203,0.03510,2.68,0.0,0.4161,7.853,33.2,5.1180,4.0,224.0,14.7,392.78,3.81,48.5
441,9.72418,18.10,0.0,0.7400,6.406,97.2,2.0651,24.0,666.0,20.2,385.96,19.52,17.1
172,0.13914,4.05,0.0,0.5100,5.572,88.5,2.5961,5.0,296.0,16.6,396.90,14.69,23.1
95,0.12204,2.89,0.0,0.4450,6.625,57.8,3.4952,2.0,276.0,18.0,357.98,6.65,28.4
54,0.01360,4.00,0.0,0.4100,5.888,47.6,7.3197,3.0,469.0,21.1,396.90,14.80,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.08187,2.89,0.0,0.4450,7.820,36.9,3.4952,2.0,276.0,18.0,393.53,3.57,43.8
476,4.87141,18.10,0.0,0.6140,6.484,93.6,2.3053,24.0,666.0,20.2,396.21,18.68,16.7
322,0.35114,7.38,0.0,0.4930,6.041,49.9,4.7211,5.0,287.0,19.6,396.90,7.70,20.4
382,9.18702,18.10,0.0,0.7000,5.536,100.0,1.5804,24.0,666.0,20.2,396.90,23.60,11.3
365,4.55587,18.10,0.0,0.7180,3.561,87.9,1.6132,24.0,666.0,20.2,354.70,7.12,27.5

In [8]:
model = LinearRegression()

In [9]:
model.fit(X_train,y_train)

LinearRegression()

In [10]:
pred = model.predict(X_test)

In [11]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [15]:
print('Ошибка RMSE LinearRegression = ',sqrt(mean_squared_error(y_test,pred)))

Ошибка RMSE LinearRegression =  15.093594087836633

In [ ]:
#Решающие деревья для задачи регрессии

In [14]:
from sklearn import tree
tree_regressor = tree.DecisionTreeRegressor()
tree_regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [16]:
tree_pred = tree_regressor.predict(X_test)

In [18]:
print('Ошибка RMSE DecisionTreeRegressor = ',sqrt(mean_squared_error(y_test,tree_pred)))

Ошибка RMSE DecisionTreeRegressor =  6.595824585355823

In [19]:
frame = {'Важность параметров': tree_regressor.feature_importances_,'Параметры':X_train.columns}
result = pd.DataFrame(frame)
result.sort_values(by='Важность параметров', ascending=False)

    Важность параметров Параметры
3              0.675166       NOX
1              0.153201     INDUS
8              0.065944       TAX
7              0.028041       RAD
0              0.022908      CRIM
9              0.022500   PTRATIO
5              0.017585       AGE
6              0.009016       DIS
10             0.004241         B
11             0.001377     LSTAT
4              0.000020        RM
2              0.000000      CHAS
12             0.000000      MEDV