<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/result_1%2C2%2C5%2C7%2C9_%D0%A2%D0%B5%D0%BE%D1%80%D0%B8%D1%8F%20%D0%B2%D0%B5%D1%80%D0%BE%D1%8F%D1%82%D0%BD%D0%BE%D1%81%D1%82%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Определение вероятности. События
#Требуется сгенерировать необходимые выборки и произвести по ним расчеты
#Задача 1
#Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами
import random
orel1 = 0
resh1 = 0
orel2 = 0
resh2 = 0
i = 0
while i<100000:
    i += 1
    coin = random.randint(1,4)
    if coin == 1:
        orel1 += 1
    if coin == 2:
        resh1 += 1
    if coin == 3:
        orel2 += 1
    if coin == 4:
        resh2 += 1   
p1 = float (resh1+orel2)/100000
p2 = float (orel1+resh2)/100000
p3 = float (p1+p2)/2
print (p3)

0.5

In [ ]:
#Вариант преподавателя
import pandas as pd
import numpy as np
N = 900000
c1 = np.random.randint(0,2,size=N)
c2 = np.random.randint(0,2,size=N)
cases = pd.DataFrame(zip(c1,c2), columns=['Coin1','Coin2'])
p = cases[cases['Coin1'] !=cases['Coin2']].shape[0]/N
print (p)

0.5007377777777777

In [ ]:
#Задача 2 Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:
#A = {не выпало ни одного герба}
#B = {выпало четное число гербов}
#C = {на третьей монете выпал герб}
import pandas as pd
import numpy as np
N = 900000
c1 = np.random.randint(0,2,size=N)
c2 = np.random.randint(0,2,size=N)
c3 = np.random.randint(0,2,size=N)
cases_ = pd.DataFrame(zip(c1,c2,c3), columns=['Coin1','Coin2','Coin3'])
print (cases_)

        Coin1  Coin2  Coin3
0           1      1      0
1           0      1      1
2           0      1      0
3           1      0      1
4           0      1      1
...       ...    ...    ...
899995      0      0      0
899996      0      1      1
899997      0      0      1
899998      1      0      0
899999      1      0      0

[900000 rows x 3 columns]

In [ ]:
#Описать множество всех элементарных событий
row_list=[]
for i in range((cases_.shape[0])):
  row_list.append(list(cases_.iloc[i, :]))

In [ ]:
#A = {не выпало ни одного герба}
p_ = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==1) & (cases_['Coin3']==1)]
p__ = len(p_)/N
print (p__)

0.12507666666666667

In [ ]:
#B = {выпало четное число гербов}
p2 = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==1) & (cases_['Coin3']==0)]
p3 = cases_[(cases_['Coin1']==0) & (cases_['Coin2']==1) & (cases_['Coin3']==1)]
p4 = cases_[(cases_['Coin1']==1) & (cases_['Coin2']==0) & (cases_['Coin3']==1)]
p_total = len(p2)+len(p3)+len(p4)
pp = p_total/N 
print (pp)

0.3753444444444444

In [ ]:
#C = {на третьей монете выпал герб}
p5 = cases_[cases_['Coin3']==0]
ppp = len(p5)/N 
print(ppp)

0.49971777777777776

In [ ]:
#Вероятность суммы событий
#Задача 5
#Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}
import random as random_number

N = 100000
M = 0
for i in range(N):
    six = 0
    r1 = random_number.randint(1, 6)
    if r1 == 6:
        six += 1
    r2 = random_number.randint(1, 6)
    if r2 == 6:
        six += 1
    if six >= 1:
        M += 1

p = float(M)/N
print (p)

0.30619

In [2]:
#Случайные величины
#Задача 7
#В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, 
#равной чистому выигрышу участника лотереи, который вытаскивает билет первым.
N = 10 
N1 = 1 
amount = 10
price = 1
v = [0, 9]

proba_0 =  .1
proba_1 = 1-proba_0
probabilities = [proba_1, proba_0]

In [5]:
import numpy as np
tickets = np.random.choice(v, N, p=probabilities)                      
tickets

array([0, 0, 9, 0, 0, 9, 0, 0, 0, 0])

In [6]:
total_tickets = list(map(lambda x: 
                np.random.choice(v, 1, p= probabilities)[0]
                if x == tickets[0] 
                else np.random.choice(v, 1, p=probabilities)[0],
                tickets))
total_tickets

[9, 0, 0, 9, 0, 0, 9, 0, 0, 0]

In [8]:
import pandas as pd
df = pd.DataFrame(columns = ['v', 'probabilities'])
df['v'] = v
df['probabilities'] = probabilities
df

   v  probabilities
0  0            0.9
1  9            0.1

In [10]:
#Условные вероятности
#Задача 9
#Из колоды (36 карт) вынимают последовательно без возвращения две карты. 
#Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.
values = np.array(['6diamond','7diamond', '8diamond','9diamond','10diamond','Vdiamond','Ddiamond','Kdiamond','Tdiamond','6spade','7spade','8spade','9spade','10spade','Vspade','Dspade','Kspade','Tspade','6club','7club','8club','9club','10club','Vclub','Dclub','Kclub','Tclub','6heart','7heart','8heart','9heart','10heart','Vheart','Dheart','Kheart','Theart'])
card1 = np.random.choice(values, 100000)
card2 = np.random.choice(values, 100000)

df = pd.DataFrame(zip(card1,card2), columns = ['card1','card2'])

In [11]:
#Найти вероятность того, что первой картой была шестерка, а второй — семерка. 
p1 = len(df.query('card1=="6diamond" | card1=="6spade" | card1=="6club" | card1=="6heart"'))/len(df)
p2 = len(df.query('card2=="7diamond" | card2=="7spade" | card2=="7club" | card2=="7heart"'))/(len(df)-1)
p = p1*p2
p

0.01245060570605706

In [12]:
#Найти условную вероятность того же события при условии, что обе карты бубновой масти.
p3 = len(df.query('card1=="6diamond" ')) / len(df)
p4 = len(df.query('card2=="7diamond"')) / (len(df)-1)
p5 = p3*p4
p5

0.0007648010480104801