<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import requests 
from tqdm.auto import tqdm
from collections import defaultdict
import pandas as pd
from collections import Counter

In [2]:
offset_ = 1
limit_ = 100
url = f'https://xn--80az8a.xn--d1aqf.xn--p1ai/%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D1%8B/api/kn/object?offset={offset_}&limit={limit_}&sortField=devId.devShortCleanNm&sortType=asc&objStatus=0'
res = requests.get(url)
objects_data = res.json()
objects_data.get('data').get('list')[0]

{'hobjId': 39024,
 'objId': 13383,
 'developer': {'devId': 306,
  'shortName': '2МЕН ГРУПП',
  'fullName': '2МЕН ГРУПП',
  'groupName': '2МЕН ГРУПП ДЕВЕЛОПМЕНТ',
  'orgForm': {'id': 1, 'fullForm': 'Акционерное общество', 'shortForm': 'АО'},
  'companyGroup': 5776,
  'devInn': '7701651356'},
 'rpdRegionCd': 72,
 'objAddr': 'г Тюмень',
 'objFloorMin': 4,
 'objFloorMax': 20,
 'objElemLivingCnt': 68,
 'objReady100PercDt': '2022-12-31',
 'objSquareLiving': 6296.55,
 'objCompensFundFlg': 1,
 'objProblemFlg': 0,
 'latitude': 57.1519,
 'longitude': 65.5536,
 'problemFlag': 'NONE',
 'siteStatus': 'Строящиеся',
 'objGuarantyEscrowFlg': 0,
 'residentialBuildings': 1,
 'rpdNum': '72-000095',
 'pdId': 28105,
 'buildType': 'Жилое',
 'objStatus': 0}

In [3]:
objects_list = objects_data.get('data').get('list')
objids = [x.get('objId') for x in objects_list]
objids[:10]

[13383, 13398, 13397, 13399, 36912, 10891, 8809, 8810, 39176, 39175]

In [25]:
df_ = Counter(objects_data)

In [26]:
# Создание датафрейма из json
df = pd.DataFrame.from_dict(pd.json_normalize(df_), orient='columns')
df[:3]

  errcode                                          data.list  data.total
0       0  [{'hobjId': 39024, 'objId': 13383, 'developer'...       10778

In [22]:
# Cохранить pandas dataframe в excel
df_excel = df.to_excel("output.xlsx")

In [29]:
# Cохранить pandas dataframe в pickle
pd.DataFrame(df, columns=['data.list', 'data.total']).to_pickle('home_frq.pkl')

In [33]:
# Cохранить pandas dataframe в БД
df = pd.DataFrame(df, columns=['data.list', 'data.total'])
df.to_sql('home', con, if_exists='replace', index = False)

NameError: ignored

# Новый раздел

# Новый раздел

In [ ]:
from google.colab import drive
drive.mount('/content/drive')