<a href="https://colab.research.google.com/github/Chalkina/sql_homework/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22lesson4_with_task6_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#установка библиотек
# !pip install psycopg2
# !pip install plotly

In [ ]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student26'
DB_USER_PASSWORD = 'student26_password'
DB_NAME = 'sql_ex_for_student26'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [ ]:
#join по таблицам laptop & product
request = """
select * 
from count_products_by_makers
"""
df = pd.read_sql_query(request, conn)
fig = px.bar(df, x=maker, y=count, labels={'x':'maker', 'y':'count'})
fig.show()

NameError: ignored

In [ ]:
df

   count     type maker
0      2  Printer     D
1      6       PC     E
2      1  Printer     E
3      3  Printer     A
4      1   Laptop     B
5      1   Laptop     C
6      2   Laptop     A
7      2       PC     A
8      1       PC     B